{% extends "base.twig" %}

{% block title %}Activation Page{% endblock %}

{% block content %}
    <p>Your account has been verified! You can now sign in to access PWPAY</p>
    <form action="sign-in" method="get">
        <input type="submit" value="GO TO SIGN-IN PAGE">
    </form>
{% endblock %}